{% load humanize %}
{% with gubunchange=gigi.change_photo.all %}
    <tr>
        <td>{{ gigi.date|date:"Y-m-d" }}</td>  
        <td>{{ gigi.gigiinfo.user }}</td>       
        <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
        <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
        <td>{{ gigi.gubun }}</td>
        <td>{{ gigi.count }}</td>
        <td>&#8361;{{ gigi.cost|intcomma }}</td>
        <td title="{{gigi.bigo}}">{{ gigi.bigo|truncatechars:7 }}</td>
        <td class="gigi-change" data-gubun="change" style="font-weight: bold;font-size: 0.8rem; padding-top: 10px; color:#d63384;">
            {% if gubunchange %}                
              보기
            {% endif %}
        </td>
        <td class="buseo_CR_update" data-gubun="change" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_update' gigi.id %}" title="수정하기">🐼</td>              
        <td class="buseo_CR_delete" data-gubun="change" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_delete' gigi.id %}" title="삭제하기" onclick="return confirm('정말로 삭제 하시겠습니까 ?');">👹</td>             
    </tr>
    
    <tr class="photoshows">
        <td colspan="11" style="max-width: 900px;">
            <ul class="gallery"> 
                {% if gubunchange %}
                {% for c in gubunchange %}           
                <li>
                    <a class="link-photo lb-initialized" href="{{ c.image.url }}" data-lightbox="img"><img src="{{ c.image.url }}" style="width:auto; max-height:100px;"></a>
                </li>
                {% endfor %} 
                {% endif %}  
            </ul>                
        </td>
    </tr>
    
{% endwith %}      