{% for gigi in members %}
    {% if gigi.user %}
    <tr>
        <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
        <td>{{ gigi.buyproduct.gubun }}</td>     
        <td>{{ gigi.user.name }}</td>  
        <td>{{ gigi.buyproduct.company }}</td>
        <td>{{ gigi.buyproduct.model }}</td>
        <td>{{ gigi.ip }}</td>
        <td>{{ gigi.bigo }}</td>                
        <td><span class="buwon-update" data-buseo="{{buseogubun}}" type="button" data-url="{% url 'gshsapp:gigi_buseo_update' pk=gigi.id %}" title="수정하기">🐓</span></td>                
    </tr>   
    {% endif %} 
{% endfor %}