{% extends 'base.html' %}
{% block content %}

<div style="max-width: 87%; margin:0 auto;">
    <div class="row">
        <div class="col-12 text-center" style="border-bottom: 1px solid #e44444; padding-bottom: 10px;">
            <span style="font-size:1.3rem;font-weight:bold;">{{ freeboard.title }}</span>            
        </div>
        <div class="col-md-3" style="font-size: 0.85rem;padding: 15px 30px 0;">
            <span style="font-size:0.85rem;">{{ freeboard.registered_date|date:'Y.m.d.' }}</span>
        </div>
            <!--작성자, 조회수-->        
        <div class="col-md-5 offset-md-4 text-lg-end" style="font-size: 0.85rem;padding: 15px 30px 0;">
            <span>{{ freeboard.writer.username }}&nbsp;|&nbsp;조회수 : {{ freeboard.hits }}</span>
        </div>
        <!--내용-->
        {% if freeboard.upload_files %}
        <div class="col-md-5 offset-md-7 text-lg-end" style="font-size: 0.85rem; padding: 0 30px;">
            <span>첨부파일 :&nbsp;
                <a href="{% url 'freeboard:freeboard_download' freeboard.id %}" >{{ freeboard.filename|truncatechars:25 }}</a>
            </span>
        </div>
        {% endif %}                
        
        <div style="padding: 30px 30px 10px; font-size: 0.95rem;min-height: 410px;">
            {{ freeboard.content | safe }}
        </div> 
    </div> 

    <div class="row" style="border-top: 1px solid #cfcfcf; padding-top: 20px;">
        <div class="col-md-12  text-lg-end">
            {% if freeboard_auth %}
            <button class="custom-btn" id="detail_btn" onclick="location.href='/freeboard/{{ freeboard.id }}/edit/'">수정</button>
            <button class="custom-btn" id="detail_btn" data-toggle="modal" data-target="#delete_modal">삭제</button>
            <!-- <button class="btn btn-md btn-dark" onclick="location.href='/freeboard/{{ freeboard.id }}/delete/'">삭제</button> -->
            <button class="custom-btn" id="detail_btn" onclick="location.href='/freeboard/'">목록으로</button>
            {% else %}
            <button class="custom-btn" id="detail_btn" onclick="location.href='/freeboard/'">목록으로</button>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div id="delete_modal" aria-hidden="true" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">삭제경고</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>게시글을 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function delete_modal() {
        location.replace('/freeboard/{{ freeboard.id }}/delete/');
    }
</script>

{% endblock %}