{% extends 'base.html' %}
{% block content %}

<div style="display: inline-block; text-align:center;">
    <form class="form-inline center" action="" method="GET">
                    
        <select style="width: 5.7rem; font-size: 0.85rem;" class="form-select form-select-sm" name="type">
            <option value="all">전체</option>
            <option value="title_content">제목+내용</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
        </select>
    
    
        <input type="text" name="q" value="{{ q }}" class="form-control form-control-sm"
            style="width: 13rem; font-size: 0.85rem;" placeholder="검색어를 입력해주세요.">
    
    
        <!-- <button class="btn btn-md btn-outline-dark" type="submit">검색</button> -->
        <button style="font-size: 0.85rem;" class="btn btn-sm btn-outline-dark" type="submit" id="search_btn">검색</button>
                    
               
    </form>
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'freeboard:freeboard_write' %}" class="btn btn-sm">글쓰기</a>
    </div>
    {% endif %}    
    
</div>

<div>
    <table class="custom-table">
        <thead>
            <tr class="text-center">                
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            {% if q %}
            {% else %}
            {% if freeboard_fixed %}
            {% for freeboard in freeboard_fixed %}
            <tr class="text-center" style="background-color: #495057; color:whitesmoke;cursor: pointer;" onclick="location.href='/freeboard/{{ freeboard.id }}/'">                
                <td>{{ freeboard.title|truncatechars:30 }}</td>
                <td>{{ freeboard.writer }}</td>
                <td>{{ freeboard.registered_date|date:'Y. m. d' }}</td>
                <td>{{ freeboard.hits }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endif %}
        </thead>
        <tbody>
            {% if freeboard_list %}
            {% for freeboard in freeboard_list %}
            <tr class="text-center" style="cursor: pointer;" onclick="location.href='/freeboard/{{ freeboard.id }}/'">                
                <td>{{ freeboard.title|truncatechars:20 }}</td>
                <td>{{ freeboard.writer }}</td>
                <td>{{ freeboard.registered_date|date:'Y. m. d' }}</td>
                <td>{{ freeboard.hits }}</td>
            </tr>
            {% endfor %}
            {% else %}
                {% if q %}          <!-- 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                    <tr class="text-center">
                        <td colspan="5">
                            일치하는 검색 결과가 없습니다.
                        </td>
                    </tr>
                {% else %}          <!-- q가 없으면 검색어가 아니며 게시글이 존재하지 않으므로 게시글 미작성 -->
                    <tr class="text-center">
                        <td colspan="5">
                            작성된 게시글이 없습니다.
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>
</div>

<div>
{% if is_paginated %}
    <ul class="pagination  justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}"
                tabindex="-1">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">이전</a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
{% endif %}
</div>

{% endblock %}