@font-face {
    font-family: 'Leorio';
    src:url('../static/fonts/Leorio.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src:url('../static/fonts/NotoSansKR-Regular.woff') format('otf');
} 

html, body {
    -ms-overflow-style: none;
    background-color: #eee;
    color: #495057;
    font-family: "NotoSansKR-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu { 
    display:block; margin:0; 
}

nav {
    background-color: rgb(251, 251, 251);
}

.navbar-brand {
    color: #495057;
    font-size: 1.4rem;
    margin-left: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.navbar-brand:hover {
    color: #495057;
    transform: translateX(5px);
    transition-duration: 0.5s;
}

/* .navbar-nav {
    --bs-nav-link-hover-color:#8f8780;
} */
.navbar-nav .show>.nav-link {
    color: white;
    background-color: #495057;
}

.nav-item a {
    color:#495057;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav-item a:hover {
    color: white;
    background-color: #495057;
}

.fa-explosion {
    color:black;
    font-size: 1.7rem;            
}

section {
    margin-top: 150px;
}

.table {
    --bs-table-color: #495057;
    color: #495057;
    font-size: 0.9rem;
}

.gitamenu { 
    margin-left: 3px;           
    padding: 6px 8px;            
}

.gigidelete {
    cursor: pointer;
}
.gigi-update2 {
    background-color: white;
    padding: 50px;
}
.gigi-update1 {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
    background-color: #495057;            
}

footer {
    margin-top: 70px;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}

address {
    margin-bottom: 0.2rem;
} 

.box_shadow {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}   

input[type=checkbox] {
    transform : scale(1.5);
}

a.page-link {
    color: #495057;
}

.active >.page-link, .page-link.active {
    background-color: #495057;
    border-color: white;
}

.card-body {
    padding: 0;
}

.card-body ul {
    padding: 0;
}

.card-body li {
    list-style-type: none;
    letter-spacing: 0.3px;
    padding: 11px;   
    margin: 0;    
    color: #495057;
    text-align: center; 
    border-bottom: 1px solid #d0d0d0; 
    font-size: 0.8rem;
    font-weight: bold;   
}

.card-body li:hover {
    color :white;
    background-color: #495057;
} 

.card-body li:last-child {           
    border-bottom: 0;
}
/* 모달 시작 */
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(151, 151, 151, 0.7);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

#modal .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );            
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    position: absolute;
    left: 20%;
    top: 150px;
}

#modal .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px;
    padding-left: 20px;
    color: white;
    background-color: #495057;            
}

#modal .title .title_side {
    flex: 0 0 40px;
    text-align: center;
    cursor: pointer;
}

#modal .content {            
    font-size: 0.9rem;
}
/* 모달 끝 */ 
.photoshows {
    display: none;
}
.photoshows .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.photoshows .gallery li {
    margin: 20px;
}

.gigi-repair, .gigi-change {
    cursor: pointer;
}

.custom-table {
font-size: 0.85rem;
width: 100%;
margin-bottom: 30px;
min-width: 400px;
text-align: center;
line-height: 1.8;
}

.custom-table thead tr {
border-top:1px solid #e44444;    
border-bottom: 1px solid #ddd;
}

.custom-table th,
.custom-table td {
padding: 10px 12px;    
}
.custom-table tbody tr {
border-bottom: 1px solid #ddd;
}

.custom-table tr .title {
    width: 65%;
}
.custom-table tr .writer {
    width: 15%;
}
.custom-table tr .regdate {
    width: 10%;
}
.custom-table tr .hit {
    width: 10%;
}
.custom-table tbody tr:hover {
background-color: #d1d2d4;
}

.custom-table tbody button {
margin-right: 5px;
}
.custom-table tbody button:last-child {
margin-right: 0;
}

.custom-btn {    
    border: 0.5px solid rgb(57, 57, 57);
    letter-spacing:2px;
    color: #fff;
    font-size: 0.9rem;
    padding: 7px 13px;
    border-radius: 3px 3px;
    transition: all 0.4s;  
}

.custom-btn:hover {
    background-color:  rgb(235, 234, 234);
    border: 1px solid rgb(57, 57, 57);
    color:rgb(75, 75, 75);
    transition: all 0.4s;  
}

.custom-btn-yellow {
    background-color:#ffc107;
}

.custom-btn-success {
    background-color: #46c188;
}

.custom-btn-secondary {
    background-color: #6c757d;
}

#hide_more_button, #show_more_button {
    font-size: 0.9rem;
}

.category-list > a {
    font-size: 0.85rem;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

a.buseo-gubun {
    color: #343a40;
}

a.buseo-gubun:hover {
    color: whitesmoke;
}