{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<div class="row">
    <div class="col-md-2">
        <div class="card box_shadow">
            <div class="card-header bg-secondary text-light text-center">
              <h6>부서별</h6>  
            </div>
            <div class="card-body">
                <ul>
                {% for buseo in buseos %}
                    <li>{{ buseo.hosil }}</li>
                {% endfor %}
                </ul>            
            </div>
        </div>       
    </div>
    
    <div class="col-md-10">    
      <div>
        <span style="padding-left: 20px;">🙄 부원들 <span>
      </div>  
      <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th>
              <th scope="col">구분</th>
              <th scope="col">성명</th>
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">IP</th>
              <th scope="col">비고</th>                    
              <th scope="col"></th>                    
            </tr>
          </thead>
          <tbody>
            {% for gigi in members %}
            {% if gigi.buyproduct.gubun.gubun == 'notebook' or gigi.buyproduct.gubun.gubun == 'desktop' %}
            <tr>
              <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
              <td>{{ gigi.buyproduct.gubun }}</td>
              <td>{{ gigi.user.name }}</td>       
              <td>{{ gigi.buyproduct.company }}</td>
              <td>{{ gigi.buyproduct.model }}</td>
              <td>{{ gigi.ip }}</td>
              <td>{{ gigi.bigo }}</td>                
              <td><span class="gigi-update" type="button">🐓</span></td>                
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <div class="mt-5">
          <span style="padding-left: 20px;">🦉 정보기자재 <span>
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th>
              <th scope="col">구분</th>
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">색상</th>
              <th scope="col">IP</th>
              <th scope="col">비고</th>                    
            </tr>
          </thead>
          <tbody>
            {% for gigi in members %}
            {% if gigi.buyproduct.gubun.gubun != 'notebook' and gigi.buyproduct.gubun.gubun != 'desktop' %}
            <tr>
              <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
              <td>{{ gigi.buyproduct.gubun }}</td>        
              <td>{{ gigi.buyproduct.company }}</td>
              <td>{{ gigi.buyproduct.model }}</td>
              <td>{{ gigi.color }}</td>
              <td>{{ gigi.ip }}</td>
              <td>{{ gigi.bigo }}</td>                
            </tr>
            {% endif %}
            {% endfor %}
          </tbody> 
        </table>
        <br><br><hr>
        <div class="mt-5">
          <span style="padding-left: 20px;">🐷 소모품교체 <span>
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">날짜</th> 
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">부품</th>
              <th scope="col">개수</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th>                    
              <th scope="col">사진</th>                    
            </tr>
          </thead>    
          <tbody>     
            {% for gigi in changes %}
            <tr class="gigi-change">
              <td>{{ gigi.date|date:"Y-m-d" }}</td>        
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td>{{ gigi.gubun }}</td>
              <td>{{ gigi.count }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td>{{ gigi.bigo|truncatewords:10 }}</td>
              <td>
                {% if gigi.change_photo.all %}                
                <span data-gubun="change" data-value="{{ gigi.id }}" style="font-weight: bold;font-size:0.8rem;color:white;background-color:#495057;padding:3px 7px;border-radius: 5px;">보기</span>
                {% endif %}
              </td>               
            </tr>
            {% if gigi.repair_photo.all %}
            <tr class="photoshows">
              <td colspan="8">
                <ul class="gallery">   
                  {% for c in gigi.change_photo.all %}               
                  <li>
                    <a class="link-photo lb-initialized" href="{{ c.image.url }}" data-lightbox="img"><img src="{{ c.image.url }}" style="width:auto; max-height:150px;"></a>
                  </li>
                  {% endfor %}   
                </ul>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody> 
        </table>        

        <div class="mt-5">
          <span style="padding-left: 20px;">🦊 소모품수리 <span>
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th> 
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">원인</th>
              <th scope="col">결과</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th> 
              <th scope="col">사진</th>                   
            </tr>
          </thead>  
          <tbody>       
            {% for gigi in repairs %}
            <tr class="gigi-repair">
              <td>{{ gigi.date|date:"Y-m-d" }}</td>        
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td>{{ gigi.problem|truncatewords:10 }}</td>
              <td>{{ gigi.result|truncatewords:10 }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td>{{ gigi.bigo|truncatewords:10 }}</td>    
              <td>
                {% if gigi.repair_photo.all %}                
                <span data-gubun="repair" data-value="{{ gigi.id }}" style="font-weight: bold;font-size:0.8rem;color:white;background-color:#495057;padding:3px 7px;border-radius: 5px;">보기</span>
                {% endif %}
              </td>                   
            </tr>
            {% if gigi.repair_photo.all %}
            <tr class="photoshows">
              <td colspan="8">
                <ul class="gallery">   
                  {% for r in gigi.repair_photo.all %}               
                  <li>
                    <a class="link-photo lb-initialized" href="{{ r.image.url }}" data-lightbox="img"><img src="{{ r.image.url }}" style="width:auto; max-height:150px;"></a>
                  </li>
                  {% endfor %}   
                </ul>
              </td>
            </tr>
            {% endif %}
            {% endfor %} 
          </tbody> 
        </table>
    </div>
</div>


<!-- Modal content-->  
<!-- {% include "gshsapp/change_photo_pop.html" %} -->
<div id="modal" class="modal-overlay">
  <div class="modal-window">
      <div class="title">
        <div class="title_side"></div>
        <div> 작업하기 </div>
        <div class="title_side">
            <span id="close_modal" class="material-icons-outlined">
                x
            </span>
        </div>
      </div>
      <hr>
      <div class="content">
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>
      </div>
  </div>
</div>   

<script>
  
  $(function(){    
    const lb = lightbox();        
    //csrf token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).on("click", ".gigi-update", function(){    
      $("#modal").css("display", "flex"); // 모달 띄우기 코드.
    }); 
    
    $("#close_modal").click(function(){
      $("#modal").css("display", "none"); 
    });

    // 사진 보기
    $('.gigi-repair, .gigi-change').on("click", function(e){    
      e.preventDefault();
      e.stopPropagation();
      let check = $(this).next().css("display") == "none";
      let except = $(this).next();
      if(check)// 열릴부분의 display가 none으로 되어있다면, 
		  {
        $(this).next().show(); //열릴부분의 display를 block으로 변경해주고,
        $('.photoshows').not(except).css('display','none'); //그외의 내용부분(.not() 으로 제어함) 은 display를 none으로 안보이게 변경시킵니다.
      }else {
        $(this).next().css('display','none');
      }
    });

    $().on("click", function(e){    
      e.preventDefault();
      e.stopPropagation();
      let gigiid = $(this).data('value');   
      let gigigubun = $(this).data('gubun'); 
      //alert(gigiid);
      // data = {"data":gigiid, "csrfmiddlewaretoken":  csrftoken,};
      $.ajax({
        type:"GET",
        dataType: "json",
        url:"{% url 'gshsapp:changephoto_up' %}",
        data : {"data":gigiid, "gubun":gigigubun},
        success:function(json){
            gigi = json['result'];  
            $(".gallery").empty();
            gigi.forEach(function(el, index){              
              $(".gallery").append("<li><a href='#'><img src=" + el + " style='max-width:100%; height: auto;'>" + "</a></li>");
              $("#phostoshow").css("display", "flex"); 
            });
            alert(gigiid);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
        },
      });
      
      
    });

    $("#change_close_modal").click(function(){
      $("#change_modal").css("display", "none"); 
    });
   // 외부영역 클릭시 닫기
    // $(document).mouseup(function (e){
    //   var LayerPopup = $("#change_modal");
    //   if(LayerPopup.has(e.target).length === 0){
    //     $("#change_modal").css("display", "none");
    //   }
    // });
    
  });  
</script>

{% endblock %}