{% extends 'base.html' %}
{% block content %}
{% load humanize %}
{% load static %}

<div class="row">
    <div class="col-md-2">
        <div class="card box_shadow">
            <div class="card-header bg-secondary text-light text-center">
              <h6>부서별</h6>  
            </div>
            <div class="card-body">
                <ul>
                {% for buseo in buseos %}
                    <li>{{ buseo.hosil }}</li>
                {% endfor %}
                </ul>            
            </div>
        </div>       
    </div>
    
    <div class="col-md-10">    
      <div>
        <span style="padding-left: 20px;">🙄 부원들 <span>
      </div>  
      <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th>
              <th scope="col">구분</th>
              <th scope="col">성명</th>
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">IP</th>
              <th scope="col">비고</th>                    
              <th scope="col"></th>                    
            </tr>
          </thead>
          <tbody id="buwonInsert">
            {% for gigi in members %}
            {% if gigi.user %}
            <tr>
              <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
              <td>{{ gigi.buyproduct.gubun }}</td>
              <td>{{ gigi.user.name }}</td>       
              <td>{{ gigi.buyproduct.company }}</td>
              <td>{{ gigi.buyproduct.model }}</td>
              <td>{{ gigi.ip }}</td>
              <td>{{ gigi.bigo }}</td>                
              <td><span class="buwon-update" data-buseo="{{buseogubun}}" type="button" data-url="{% url 'gshsapp:gigi_buseo_update' pk=gigi.id %}" title="수정하기">🐓</span></td>                
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <div class="mt-5">
          <span style="padding-left: 20px;">🦉 정보기자재 <span>
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th>
              <th scope="col">구분</th>
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">색상</th>
              <th scope="col">IP</th>
              <th scope="col">비고</th>                    
              <th scope="col"></th>                    
            </tr>
          </thead>
          <tbody id="gigiInsert">
            {% for gigi in members %}
            {% if not gigi.user %}
            <tr>
              <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
              <td>{{ gigi.buyproduct.gubun }}</td>        
              <td>{{ gigi.buyproduct.company }}</td>
              <td>{{ gigi.buyproduct.model }}</td>
              <td>{{ gigi.color }}</td>
              <td>{{ gigi.ip }}</td>
              <td>{{ gigi.bigo }}</td>
              <td><span class="buseogigi-update" data-buseo="{{buseogubun}}" type="button" data-url="{% url 'gshsapp:gigi_buseo_update' pk=gigi.id %}" title="수정하기">🐵</span></td>                                
            </tr>
            {% endif %}
            {% endfor %}
          </tbody> 
        </table>
        <br><br><hr>
        <div class="mt-5">
          <span style="padding-left: 20px;">🐷 소모품교체 <span><span style="margin-left:20px;font-size: 0.9rem; font-weight: bold;color:orangered;">[ 총액 : &#8361; {{changeTotalCost.changeTotal__sum|intcomma}} ]</span>
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">날짜</th> 
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">부품</th>
              <th scope="col">개수</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th>                    
              <th scope="col">사진</th>                    
            </tr>
          </thead>    
          <tbody>     
            {% for gigi in changes %}
            {% with gubunchange=gigi.change_photo.all %}
            <tr {% if gubunchange %} class="gigi-change" {% else %} {% endif %}>
              <td>{{ gigi.date|date:"Y-m-d" }}</td>        
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td>{{ gigi.gubun }}</td>
              <td>{{ gigi.count }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td title="{{gigi.bigo}}">{{ gigi.bigo|truncatechars:10 }}</td>
              <td>
                {% if gubunchange %}                
                <span data-gubun="change" data-value="{{ gigi.id }}" style="font-weight: bold;font-size:0.8rem;color:white;background-color:#495057;padding:3px 7px;border-radius: 5px;">보기</span>
                {% endif %}
              </td>               
            </tr>
            
            {% if gubunchange %}
            <tr class="photoshows">
              <td colspan="8">
                <ul class="gallery"> 
                  {% for c in gubunchange %}           
                  <li>
                    <a class="link-photo lb-initialized" href="{{ c.image.url }}" data-lightbox="img"><img src="{{ c.image.url }}" style="width:auto; max-height:150px;"></a>
                  </li>
                  {% endfor %}   
                </ul>                
              </td>
            </tr>
            {% endif %}
          {% endwith %}          
        {% endfor %}
          </tbody> 
        </table>        

        <div class="mt-5">
          <span style="padding-left: 20px;">🦊 소모품수리 <span>
            <span style="margin-left:20px;font-size: 0.9rem; font-weight: bold;color:orangered;">[ 총액 : &#8361; {{repairTotalCost.cost__sum|intcomma}} ]</span>  
        </div>
        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th> 
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">원인</th>
              <th scope="col">결과</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th> 
              <th scope="col">사진</th>                   
            </tr>
          </thead>  
          <tbody>             
            {% for gigi in repairs %}
            {% with gigi.repair_photo.all as gubunrepair %}
            <tr {% if gubunrepair %} class="gigi-repair" {% else %} {% endif %}>
              <td>{{ gigi.date|date:"Y-m-d" }}</td>        
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td title="{{gigi.problem}}">{{ gigi.problem|truncatechars:7 }}</td>
              <td title="{{gigi.result}}">{{ gigi.result|truncatechars:5 }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td title="{{gigi.bigo}}">{{ gigi.bigo|truncatechars:5 }}</td>    
              <td>
                {% if gubunrepair %}                
                <span data-gubun="repair" data-value="{{ gigi.id }}" style="font-weight: bold;font-size:0.8rem;color:white;background-color:#495057;padding:3px 7px;border-radius: 5px;">보기</span>
                {% endif %}
              </td>                   
            </tr>
            {% if gubunrepair %}
            <tr class="photoshows">
              <td colspan="8">
                <ul class="gallery">   
                  {% for r in gubunrepair %}               
                  <li>
                    <a class="link-photo lb-initialized" href="{{ r.image.url }}" data-lightbox="img"><img src="{{ r.image.url }}" style="width:auto; max-height:150px;"></a>
                  </li>
                  {% endfor %}   
                </ul>
              </td>
            </tr>
            {% endif %}
          {% endwith %}
        {% endfor %} 
          </tbody> 
        </table>
    </div>
</div>

<div id="modal" class="modal-overlay">
  <div class="modal-window">
    <!-- <div class="gigi-update1">수정하기</div> -->
    <div class="title">
      <div class="title_side"></div>
      <div> 수정하기 </div>
      <div class="title_side">
          <span id="close_modal" class="material-icons-outlined">x</span>
      </div>
    </div>
    <div class="gigi-update2">
      <div class="content">

      </div>
    </div>
  </div>
</div>  

<script>  
  $(function(){    
    const lb = lightbox();        
    //csrf token
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    let togglebar = function(e){    
      e.preventDefault();
      e.stopPropagation();
      let check = $(this).next().css("display") == "none";
      let except = $(this).next();
      if(check)// 열릴부분의 display가 none으로 되어있다면, 
		  {
        $(this).next().show(); //열릴부분의 display를 block으로 변경해주고,
        $('.photoshows').not(except).css('display','none'); //그외의 내용부분(.not() 으로 제어함) 은 display를 none으로 안보이게 변경시킵니다.
      }else {
        $(this).next().css('display','none');
      }
    };

    $('.gigi-repair, .gigi-change').on("click", togglebar); // 사진보기

    // 모달 
    var loadBuwonForm = function () {       
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            // contentType: false, //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
            // processData: false, //processData : false로 선언 시 formData를 string으로 변환하지 않음
            beforeSend: function () {
              $("#modal").show();
            },
            success: function (data) {
              $("#modal .content").html(data.html_form);               
            }
        });
    };      
    
    var saveForm = function () {
        // var form = $(this);
        var form = $("#form");
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {  
            if (data.buwon) {         
                $("#buwonInsert").html(data.html_buseo);
              } else {
                $("#gigiInsert").html(data.html_buseo);
              }          
            $("#modal").hide();
          } else {
            $("#modal .content").html(data.html_form);
          } 
        }       
      });
    };

    // 부원 로드
    $("#buwonInsert").on('click','.buwon-update',loadBuwonForm);
    $("#gigiInsert").on('click','.buseogigi-update',loadBuwonForm);
    $('#modal').on('click','.buseobutton', saveForm);

    $("#close_modal").click(function(){
      $("#modal").css("display", "none"); 
    });
   
// 외부영역 클릭시 닫기
    $(document).mouseup(function (e){
      var LayerPopup = $("#modal");
      if(LayerPopup.has(e.target).length === 0){
        $("#modal").css("display", "none");
      }
    });
    
});  
</script>
<!--사진 모달-->
<script src="{% static 'js/lightbox.min.js' %}"></script>
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" >
{% endblock %}