{% extends 'base.html' %}
{% block content %}
{% load humanize %}
{% load static %}

<div class="row">
    <div class="col-md-2">
        <div class="card box_shadow">
            <div class="card-header bg-secondary text-light text-center">
              <h6>SRC</h6>  
            </div>
            <div class="card-body">
                <ul style="margin-bottom: 0;">
                {% for etc in etcs %}
                    {% if etc.building == "SRC" %}
                    <li><a class="buseo-gubun" href="{% url 'gshsapp:gigi_etc' etc.hosil %}"> {{ etc.hosil }} / {{ etc.locationgubun }} </a></li>
                    {% endif %}
                {% endfor %}
                </ul>            
            </div>
            <div class="card-header bg-secondary text-light text-center">
                <h6>본관</h6>  
              </div>
              <div class="card-body">
                  <ul style="margin-bottom: 0;">
                  {% for etc in etcs %}
                    {% if etc.building == "본관" %}
                    <li><a class="buseo-gubun" href="{% url 'gshsapp:gigi_etc' etc.hosil %}"> {{ etc.hosil }} / {{ etc.locationgubun }}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>            
              </div>
              <div class="card-header bg-secondary text-light text-center">
                <h6>학습관</h6>  
              </div>
              <div class="card-body">
                  <ul style="margin-bottom: 0;">
                  {% for etc in etcs %}
                    {% if etc.building == "학습관" %}
                    <li><a class="buseo-gubun" href="{% url 'gshsapp:gigi_etc' etc.hosil %}"> {{ etc.hosil }} / {{ etc.locationgubun }}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>            
              </div>
              <div class="card-header bg-secondary text-light text-center">
                <h6>우정2관</h6>  
              </div>
              <div class="card-body">
                <ul style="margin-bottom: 0;">
                {% for etc in etcs %}
                    {% if etc.building == "우정2관" %}
                    <li><a class="buseo-gubun" href="{% url 'gshsapp:gigi_etc' etc.hosil %}"> {{ etc.hosil }} / {{ etc.locationgubun }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>            
            </div>
            <div class="card-header bg-secondary text-light text-center">
                <h6>급식소</h6>  
              </div>
            <div class="card-body">
                <ul style="margin-bottom: 0;">
                {% for etc in etcs %}
                    {% if etc.building == "급식소" %}
                    <li><a class="buseo-gubun" href="{% url 'gshsapp:gigi_etc' etc.hosil %}"> {{ etc.hosil }} / {{ etc.locationgubun }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>            
            </div>
        </div>       
    </div>
    
    <div class="col-md-10"> 
        <div class="mt-1">
        <span style="padding-left: 20px;">🦉 정보기자재 </span>
        <a href="{% url 'gshsapp:gigi_etc_create' etcgubun %}" >🦉 + </a>

        </div>
        <table class="table text-center mt-2">
            <thead class="table-secondary">
                <tr>
                <th scope="col">구매일</th>
                <th scope="col">구분</th>
                <th scope="col">제조사</th>
                <th scope="col">모델명</th>
                <th scope="col">색상</th>
                <th scope="col">IP</th>
                <th scope="col">비고</th>                    
                <th scope="col"></th>                    
                </tr>
            </thead>
            <tbody id="gigiInsert">
                {% for gigi in members %}
                {% if not gigi.user %}
                <tr>
                <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
                <td>{{ gigi.buyproduct.gubun }}</td>        
                <td>{{ gigi.buyproduct.company }}</td>
                <td>{{ gigi.buyproduct.model }}</td>
                <td>{{ gigi.color }}</td>
                <td>{{ gigi.ip }}</td>
                <td>{{ gigi.bigo }}</td>
                <td><span class="buseogigi-update gitamenu badge bg-dark" data-buseo="{{buseogubun}}" type="button" data-url="{% url 'gshsapp:gigi_buseo_update' pk=gigi.id %}">수정</span></td>                                
                </tr>
                {% endif %}
                {% endfor %}
            </tbody> 
        </table>
        <br><br><hr>

        <div class="mt-5 row">
            <div class="col-md-5 pt-1">
                <span style="padding-left: 20px;">🐷 소모품교체 </span>
                <a href="{% url 'gshsapp:gigi_etc_change_create' etcgubun %}" >🦉 + </a>
            </div>                  
        </div>

        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">날짜</th> 
              <th scope="col">성명</th>
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">부품</th>
              <th scope="col">개수</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th>                    
              <th scope="col">사진</th>                    
              <th scope="col"></th>                    
              <th scope="col"></th>                    
            </tr>
          </thead>    
          <tbody id="changes_list">     
            {% for gigi in changes %}
            {% with gubunchange=gigi.change_photo.all %}
            <tr>
              <td>{{ gigi.date|date:"Y-m-d" }}</td>        
              <td>{{ gigi.gigiinfo.user.name }}</td>        
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td>{{ gigi.gubun }}</td>
              <td>{{ gigi.count }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td title="{{gigi.bigo}}">{{ gigi.bigo|truncatechars:7 }}</td>
              <td class="gigi-change" style="font-weight: bold;font-size: 0.8rem; padding-top: 10px; color:#d63384;">
                {% if gubunchange %}                
                  보기
                {% endif %}
              </td>
              <td class="buseo_CR_update" data-gubun="change" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_update' gigi.id %}">
                <span class="gitamenu badge bg-dark">수정</sapn>
                </td>             
              <td class="buseo_CR_delete" data-gubun="change" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_delete' gigi.id %}">
                <span class="gitamenu badge bg-danger">삭제</sapn>
              </td>   
            </tr>
                        
            <tr class="photoshows">
              <td colspan="11">
                <ul class="gallery" style="max-width: 900px;"> 
                  {% if gubunchange %}
                  {% for c in gubunchange %}           
                  <li>
                    <a class="link-photo lb-initialized" href="{{ c.image.url }}" data-lightbox="img"><img src="{{ c.image.url }}" style="width:auto; max-height:100px;"></a>
                  </li>
                  {% endfor %} 
                  {% endif %}  
                </ul>                
              </td>
            </tr>            
          {% endwith %}          
        {% endfor %}
          <tr>
            <td colspan="11">
              <div style="text-align: left;">
                <span style="margin-left:20px;font-size: 0.9rem; font-weight: bold;color:olivedrab;"> 총액 : &#8361; {{changeTotalCost.changeTotal__sum|intcomma}} 원</span> 
              </div>
            </td>
          </tr>

          </tbody> 
        </table> 

        <div class="mt-5 row">
          <div class="col-md-5 pt-1"><span style="padding-left: 20px;">🦊 소모품수리 </span></div>                
        </div>

        <table class="table text-center mt-2">
          <thead class="table-secondary">
            <tr>
              <th scope="col">구매일</th> 
              <th scope="col">성명</th> 
              <th scope="col">제조사</th>
              <th scope="col">모델명</th>
              <th scope="col">원인</th>
              <th scope="col">결과</th>
              <th scope="col">비용</th>
              <th scope="col">비고</th> 
              <th scope="col">사진</th>                   
              <th scope="col"></th>                   
              <th scope="col"></th>                   
            </tr>
          </thead>  
          <tbody id="repairs_list">             
            {% for gigi in repairs %}
            {% with gigi.repair_photo.all as gubunrepair %}
            <tr>
              <td>{{ gigi.date|date:"Y-m-d" }}</td>    
              <td>{{ gigi.gigiinfo.user.name }}</td>     
              <td>{{ gigi.gigiinfo.buyproduct.company }}</td>
              <td>{{ gigi.gigiinfo.buyproduct.model }}</td>
              <td title="{{gigi.problem}}">{{ gigi.problem|truncatechars:7 }}</td>
              <td title="{{gigi.result}}">{{ gigi.result|truncatechars:5 }}</td>
              <td>&#8361;{{ gigi.cost|intcomma }}</td>
              <td title="{{gigi.bigo}}">{{ gigi.bigo|truncatechars:5 }}</td>    
              <td class="gigi-repair" style="font-weight: bold;font-size:0.8rem; padding-top: 10px; color:#d63384;">
                {% if gubunrepair %}                
                 보기
                {% endif %}
              </td>   
              <td class="buseo_CR_update" data-gubun="repair" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_update' gigi.id %}" title="수정하기">🐼</td>             
              <td class="buseo_CR_delete" data-gubun="repair" style="cursor:pointer;" data-url="{% url 'gshsapp:buseo_CR_delete' gigi.id %}" title="삭제하기">👹</td>             
            </tr>
            
            <tr class="photoshows">
              <td colspan="11">
                <ul class="gallery" style="max-width: 900px;">   
                  {% if gubunrepair %}
                  {% for r in gubunrepair %}               
                  <li>
                    <a class="link-photo lb-initialized" href="{{ r.image.url }}" data-lightbox="img"><img src="{{ r.image.url }}" style="width:auto; max-height:100px;"></a>
                  </li>
                  {% endfor %} 
                  {% endif %}  
                </ul>
              </td>
            </tr>            
          {% endwith %}
        {% endfor %} 
        <tr>
          <td colspan="11">
            <div style="text-align: left;">
              <span style="margin-left:20px;font-size: 0.9rem; font-weight: bold;color:olivedrab;"> 총액 : &#8361; {{repairTotalCost.cost__sum|intcomma}} 원</span> 
            </div>
          </td>
        </tr>
          </tbody> 
        </table>        
    </div>
</div>

<div id="modal" class="modal-overlay">
  <div class="modal-window">
    <!-- <div class="gigi-update1">수정하기</div> -->
    <div class="title">
      <div class="title_side"></div>
      <div> 수정하기 </div>
      <div class="title_side">
          <span id="close_modal" class="material-icons-outlined">x</span>
      </div>
    </div>
    <div class="gigi-update2">
      <div class="content">

      </div>
    </div>
  </div>
</div>  

<script>  
  $(function(){    
    const lb = lightbox(); 
    //csrf token
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    let togglebar = function(e){    
      e.preventDefault();
      let check = $(this).parent().next().css('display') == 'none';
      let except = $(this).parent().next();
      if(check)// 열릴부분의 display가 none으로 되어있다면, 
		  {
        $(this).parent().next().show(); //열릴부분의 display를 block으로 변경해주고,
        $('.photoshows').not(except).css('display','none'); //그외의 내용부분(.not() 으로 제어함) 은 display를 none으로 안보이게 변경시킵니다.
      }else {
        $(this).parent().next().css('display','none');
      }
    };
  
    // 사진보기
    $(document).on('click', '.gigi-change', togglebar)
    $(document).on('click', '.gigi-repair', togglebar)
    

    // 모달 
    var loadBuwonForm = function () {       
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            // contentType: false, //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
            // processData: false, //processData : false로 선언 시 formData를 string으로 변환하지 않음
            beforeSend: function () {
              $("#modal").show();
            },
            success: function (data) {
              $("#modal .content").html(data.html_form);               
            }
        });
    };      
    
    var saveForm = function () {
        // var form = $(this);
        var form = $("#form");
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {  
            if (data.buwon) {         
                $("#buwonInsert").html(data.html_buseo);
              } else {
                $("#gigiInsert").html(data.html_buseo);
              }          
            $("#modal").hide();
          } else {
            $("#modal .content").html(data.html_form);
          } 
        }       
      });
    };

    // 부원 및 기기 로드
    $("#buwonInsert").on('click','.buwon-update',loadBuwonForm);
    $("#gigiInsert").on('click','.buseogigi-update',loadBuwonForm);
    $('#modal').on('click','.buseobutton', saveForm);

  // 부원 교체 및 수리 로드
    $(document).on('click','.buseo_CR_update', function(e) { 
        e.preventDefault();  
        var btn = $(this);
        var crgubun = btn.data('gubun');
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            data: {'crgubun': crgubun},
            beforeSend: function () {
              btn.parent().attr('id','buseoCRUpdate');
              $("#modal").show();
            },
            success: function (data) {
              $("#modal .content").html(data.html_form);               
            }
        });
    });   

  // 부원 교체 및 수리 업데이트 저장    
    $('#modal').on('click','.buseocrbutton', function(e){
        e.preventDefault();
        var crgubun = $(this).data('gubun');
        var form2 = $("#buseocrform");
        var form = $("#buseocrform")[0];
        let formData = new FormData(form);  
        formData.append("crgubun", crgubun);
          $.ajax({
          url: form2.attr("action"),
          data: formData,
          type: form2.attr("method"),
          // headers: {"X-CSRFToken": csrftoken},
          contentType: false, //content-type 헤더가 multipart/form-data로 전송되게 함
          processData: false, // formData를 string으로 변환하지 않음
          success: function (data) { 
            $("#buseoCRUpdate").before(data.html_buseo);  
            $('tr#buseoCRUpdate').next().remove();
            $('tr#buseoCRUpdate').remove();                     
            $("#modal").hide();    
            const lb = lightbox();        
          },
          error:function(request, status, error){
            alert("code:"+request.status+"\n"+"error:"+error);
          }
        });
    });
    

    $("#close_modal").click(function(){
      $("#modal").css("display", "none"); 
    });
   
// 수리 및 교체 삭제
    $(document).on('click','.buseo_CR_delete', function(e) { 
        e.preventDefault();
          if(confirm('정말로 삭제 하시겠습니까 ?')) {  
          var btn = $(this);
          var crgubun = btn.data('gubun');
          $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType: 'json',
              data: {'crgubun': crgubun},
              beforeSend: function () {
                btn.parent().attr('id','buseoCRdelete');
              },            
              success: function (data) {
                $("#buseoCRdelete").next().remove();  
                $("#buseoCRdelete").remove();                             
              }
          });
        }
    });


   // 사진수정
  $(':checkbox').on('change', function(){
    $(this).prop('checked', true);
  });

});  


</script>
<!--사진 모달-->
<script src="{% static 'js/lightbox.min.js' %}"></script>
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" >
{% endblock %}