{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-4">
    <form method="GET" action="{% url 'gshsapp:gigi_gubun' gigigubun=gigigubun %}">
    {% csrf_token %}
      <div class="input-group">      
        <input type="search" name="q" value="{{ q }}" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>    
  </div> 
  <div class="col-md-1  align-self-end me-auto"><h6>{{ page_obj.paginator.count }}</h6></div> 
  <div class="col-md-1 text-center">
    <a href="{% url 'gshsapp:gigi_create' gigigubun=gigigubun %}">
      <i style="font-size: 38px; color:#3892d4;" class="fas fa-plus-square"></i>
    </a>
  </div>    
</div>


<table class="table text-center mt-2">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">구매일</th>
        <th scope="col">구분</th>
        <th scope="col">성명</th>
        <th scope="col">위치</th>
        <th scope="col">제조사</th>
        <th scope="col">모델명</th>
        <th scope="col">IP</th>
        <th scope="col">색상</th>
        <th scope="col">비고</th>    
        <th scope="col"></th>    
      </tr>
    </thead>
    <!-- <tbody class="table-group-divider"> -->
      {% for gigi in page_obj %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
        <td>{{ gigi.buyproduct.gubun }}</td>
        <td>{{ gigi.user.name }}</td>
        <td>{{ gigi.location }}</td>        
        <td>{{ gigi.buyproduct.company }}</td>
        <td>{{ gigi.buyproduct.model }}</td>
        <td>{{ gigi.ip }}</td>
        <td>{{ gigi.color }}</td>
        <td>{{ gigi.bigo }}</td>
        
        <td>
          {% if gigigubun == 'notuse'%}
            <span class="gitamenu badge bg-danger">불용기기</span>
          {% elif gigigubun == 'jaego'%}
            <span class="gitamenu badge bg-success">재고기기</span>
          {% else %}
            <a href="{% url 'gshsapp:gigi_update' gigi.id %} ">
              <span class="gitamenu badge bg-secondary">수정</span>
            </a>
            <a href="{% url 'gshsapp:gigi_change' gigi.id %} ">
              <span class="gitamenu badge bg-secondary">교체</span>
            </a>
            <a href="{% url 'gshsapp:gigi_suri' gigi.id %} ">
              <span class="gitamenu badge bg-secondary">수리</span>
            </a>   
            <span class="gigidelete gitamenu badge bg-danger" data-url="{% url 'gshsapp:gigi_delete' gigi.id %}">삭제</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="row mt-5">
    <div class="col-12">
      {% include 'gshsapp/pagination.html' %}
    </div>
  </div>

  <!-- Modal -->
<div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">삭제경고</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>게시글을 삭제하시겠습니까?</p>
          </div>
          <div class="modal-footer">
              <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
          </div>
      </div>
  </div>
</div>

  <script>
    $(function(){
      $(document).on('click','.gigidelete', function(e) { 
        e.preventDefault();  
        if(confirm('정말로 삭제 하시겠습니까 ?')) {
          var btn = $(this);
          $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType: 'json',          
              success: function (data) {
                location.reload();               
              }
          });
        }        
      });
    });
  </script>
  
  {% endblock %}
  
  