{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-4">
    <form method="GET" action="{% url 'gshsapp:gigi_gubun' gigigubun=gigigubun %}">
    {% csrf_token %}
      <div class="input-group">      
        <input type="search" name="q" value="{{ q }}" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>    
  </div> 
  <div class="col-md-1  align-self-end me-auto"><h6>{{ page_obj.paginator.count }}</h6></div> 
  <div class="col-md-1 text-center">
    <a href="{% url 'gshsapp:gigi_create' gigigubun=gigigubun %}">
      <i style="font-size: 38px; color:#3892d4;" class="fas fa-plus-square"></i>
    </a>
  </div>  
</div>


<table class="table text-center mt-2">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">구매일</th>
        <th scope="col">구분</th>
        {% if gigigubun == 'notebook' or gigigubun == 'desktop' %}
          <th scope="col">성명</th>
        {% endif %}  
        <th scope="col">위치</th>
        <th scope="col">제조사</th>
        <th scope="col">모델명</th>
        <th scope="col">IP</th>
        {% if gigigubun == 'printer' %}
          <th scope="col">색상</th>
        {% endif %}
        <th scope="col">비고</th>    
        <th scope="col"></th>    
      </tr>
    </thead>
    <!-- <tbody class="table-group-divider"> -->
      {% for gigi in page_obj %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
        <td>{{ gigi.buyproduct.gubun }}</td>
        {% if gigigubun == 'notebook' or gigigubun == 'desktop' %}
          <td>{{ gigi.user.name }}</td>
        {% endif %}        
        <td>{{ gigi.location }}</td>        
        <td>{{ gigi.buyproduct.company }}</td>
        <td>{{ gigi.buyproduct.model }}</td>
        <td>{{ gigi.ip }}</td>
        {% if gigigubun == 'printer' %}
          <td>{{ gigi.color }}</td>
        {% endif %}
        <td>{{ gigi.bigo }}</td>
        <td>
          <a href="{% url 'gshsapp:gigi_update' gigi.id %} ">
            <span class="gitamenu badge bg-secondary">수정</span>
          </a>
          <a href="{% url 'gshsapp:gigi_change' gigi.id %} ">
            <span class="gitamenu badge bg-secondary">교체</span>
          </a>
          <a href="{% url 'gshsapp:gigi_suri' gigi.id %} ">
            <span class="gitamenu badge bg-secondary">수리</span>
          </a>   
          <span class="gigidelete gitamenu badge bg-danger" data-url="{% url 'gshsapp:gigi_delete' gigi.id %}" onclick="return confirm('정말로 삭제 하시겠습니까 ?');">삭제</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="row mt-5">
    <div class="col-12">
      {% include 'gshsapp/pagination.html' %}
    </div>
  </div>

  <script>
    $(function(){
      $(document).on('click','.gigidelete', function(e) { 
        e.preventDefault();  
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',          
            success: function (data) {
              location.reload();               
            }
        });
      });
    });
  </script>
  
  {% endblock %}
  
  