{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 me-auto">
      <form method="GET" action="{% url 'gshsapp:gigi_search' gigigubun=gigigubun %}">
      {% csrf_token %}
        <div class="input-group">      
            <input type="search" name="q" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn">
            <i class="fas fa-search"></i>
            </button>
        </div>
      </form>
    </div>    
    <div class="col-md-1 ml-2">
      <a href="{% url 'gshsapp:gigi_create' gigigubun=gigigubun %}">
        <i style="font-size: 38px;" class="fas fa-plus-square"></i>
      </a>
    </div>
</div>


{% if page_obj %}
<table class="table text-center mt-2">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">구매일</th>
        <th scope="col">구분</th>
        {% if gigigubun == 'notebook' or gigigubun == 'desktop' %}
          <th scope="col">성명</th>
        {% endif %}  
        <th scope="col">위치</th>
        <th scope="col">제조사</th>
        <th scope="col">모델명</th>
        <th scope="col">IP</th>
        {% if gigigubun == 'printer' %}
          <th scope="col">색상</th>
        {% endif %}
        <th scope="col">비고</th>    
        <th scope="col"></th>    
      </tr>
    </thead>
    <!-- <tbody class="table-group-divider"> -->
      {% for gigi in page_obj %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ gigi.buyproduct.buydate|date:"Y-m-d" }}</td>
        <td>{{ gigi.buyproduct.gubun }}</td>
        {% if gigigubun == 'notebook' or gigigubun == 'desktop' %}
          <td>{{ gigi.user.name }}</td>
        {% endif %}        
        <td>{{ gigi.location }}</td>        
        <td>{{ gigi.buyproduct.company }}</td>
        <td>{{ gigi.buyproduct.model }}</td>
        <td>{{ gigi.ip }}</td>
        {% if gigigubun == 'printer' %}
          <td>{{ gigi.color }}</td>
        {% endif %}
        <td>{{ gigi.bigo }}</td>
        <td>
          <a href="{% url 'gshsapp:gigi_update' pk=gigi.id %} ">
            <span class="gitamenu badge bg-secondary">수정</span>
          </a>
          <a href="{% url 'gshsapp:gigi_change' pk=gigi.id %} ">
            <span class="gitamenu badge bg-secondary">교체</span>
          </a>
          <a href="{% url 'gshsapp:gigi_suri' pk=gigi.id %} ">
            <span class="gitamenu badge bg-secondary">수리</span>
          </a>          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% elif query %}
  <p class="lead mt-5"></p>
    <b><i>검색({{query}})결과가 없습니다.</i></b>
  </p>
  {% endif %}  

  <div class="row mt-5">
    <div class="col-12">
      <!-- 페이징처리 시작 -->
      <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{query}}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
          {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
          {% if page_number == page_obj.number %}
          <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}&q={{query}}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}&q={{query}}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{query}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
      </ul>
  <!-- 페이징처리 끝 -->
    </div>
  </div>

  {% endblock %}